p {
    padding:5px;
}

body {
    background-color: #dddddd;
}

.wrapper{
    /* background-color: #dddddd; */
    min-height: 100%;
    margin-bottom:-50px;
}

.header {
    background-color: #ffffff;
    padding:10px;
    height: 70px;
    border-bottom: 8px solid #666666;
    font-family: 'Georgia', Times, Times New Roman, serif;
    /* width:960px; */
    margin:0 auto;
}

.yourname {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 35px;
    display: inline;
    
    margin-top:25px;
   
    float:left;

}

.nav {
    float: right;
    margin:0 auto;
    width:960px;
}
.nav li {
    float:right;
    color:#cccccc;
    margin-right:20px;
    margin-top:50px;
}

a {
    text-decoration: none;
    color: #cccccc;
}

.content{
    display: inline;
    width: 960px;
}
img {
    float:left;
    margin: 10px;
    display:inline;
}


.main {
    background-color: #ffffff;
    width: 960px;
    border-top: solid 8px #dddddd;
    display: center;
    margin: 0 auto;
}

.aboutme {
    background-color: white;
    width: 960px;
    color: #4aaaa5;
    padding:10px;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.push{
    height: 50px;
}

footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    /* padding:10px; */
    border-top: 8px solid #4aaaa5;
    height: 50px;
}