p {
    padding:5px;
}

body {
    background-color: #dddddd;
}

.wrapper{
    /* background-color: #dddddd; */
    min-height: 100%;
    margin-bottom:-50px;
}

.header {
    background-color: #ffffff;
    padding:10px;
    
    
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.yourname {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 35px;
    display: inline;
    margin-left: 50px;
}

.nav {
    float: right;
    margin-right:20px;
}
.nav li {
    float:left;
    color:#cccccc;
    margin-right:20px;
    margin-top: 20px;
}

img {
    float:left;
    margin: 10px;
    display: block;
}


.main {
    background-color: #ffffff;
    width: 960px;
    border-top: solid 8px #dddddd;
    display: center;
}

.aboutme {
    background-color: white;
    width: 960px;
    color: #4aaaa5;
    
    font-size: 25px;
}

.push{
    height: 50px;
}

footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    padding:10px;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}